* {
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(#eefe27, black);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  margin: 5px;
}

input {
  border: 1px solid black;
  border-radius: 30px;
  background-color: black;
  font-weight: bold;
  color: #eefe27;
}
input::placeholder {
  font-weight: bold;
  color: #eefe27;
}

.add-book {
  border: none;
  background-color: transparent;
  color: #eefe27;
}
.add {
  border: none;
  height: 100%;
}
button {
  background-color: transparent;
  font-weight: bold;
  color: #eefe27;
  border-radius: 20px;
  margin-bottom: 5px;
}

p {
  color: red;
}

.comment-div {
  background-color: orange;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 150px;
  margin: 10px;
  overflow: auto;
  /* scrollbar-base-color: transparent; */
}

/* .comment-btn {
  height: 75px;
  width: 50%;
  background-color: transparent;
} */

.comment-input {
  width: 100%;
  height: 100%;
  /* word-wrap: break-word; */
}

.add-book-div {
  height: 100%;
  background-color: transparent;
}
/* li {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 10px;
} */

*::-webkit-scrollbar {
  background-color: transparent;
}
