* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(#eefe27, black);
  height: 100vh;
  width: 100%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div {
  height: 100%;
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
